@import "variables";
.footer {
  background-color: $darkblue;
  border: none;
  height: 100%;
  padding: 30px;
  p {
    color: $white;
    margin-top: 20px;
    font-size: 12px;
  }
  .row-ms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h4 {
      color: $white;
      font-family: $pfont;
      font-size: 25px;
      margin-top: 50px;
    }
    .col-3 {
      background-color: $darkblue;
      img {
        height: 90px;
      }
      .social {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        li {
          i {
            color: white;
          }
        }
      }
      &.contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .contactContainer {
          display: flex;
          flex-direction: row-reverse;
          justify-content: flex-end;
          .contactInfo {
            list-style-type: none;
            li {
              color: $white;
              text-decoration: none;
              font-family: $pfont;
              display: flex;
            }
          }
          .contactIcons {
            @extend .contactInfo;
            padding-right: 10px;
            li {
              margin-bottom: 5px;
            }
          }
        }
      }
      .footnav {
        list-style-type: none;
        li {
          a {
            color: $white;
            text-decoration: none;
            font-family: $pfont;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 436px) {
  .footer {
    .row-ms {
      .col-3 {
        .social {
          justify-content: flex-start;
          li {
            padding:0% 5% 0% 5%;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 620px) {
  .footer {
    padding: 30px;
    height: 500px;
    p {
      margin-top: 20px;
      font-size: 12px;
    }
    .row-ms {
      flex-direction: row;
      h4 {
        font-size: 25px;
        margin-top: 0px;
      }
      .col-3 {
        flex-basis: 33%;
        img {
          height: 90px;
        }
        .social {
          //justify-content: space-evenly;
          li {
            padding:0% 5% 0% 5%;
          }
        }
        &.contact {
          justify-content: flex-start;
          .contactInfo {
          }
          .contactIcons {
            padding-right: 10px;
            li {
              margin-bottom: 5px;
            }
          }
        }
        .footnav {
          li {
            a {
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {

}
