@import "variables";
.content.index {
  .container {
    padding: 0px 0% 0px 0%;
    .header {
      padding: 20px 20px 20px 20px;
      h2 {
        font-family: $pfont;
        font-size: 30px;
        color: $darkblue;
        padding: 20px 0px 20px 0px;
      }
      hr {
        height: 5px;
        background-color: $medblue;
        width: 60px;
      }
      p {
        margin-top: 40px;
        font-family: $pfont;
      }
      &.flyer {
        background-color: $vlightgray;
        padding: 20px 20px 20px 20px;
      }
    }
    .gallery {
      display: flex;
      
      .galleryItem {
        img {
          width: 100px;
        }
        p {
          font-family: $pfont;
          text-align: center;
        }
      }
    }
  }
}
