@import "variables";
.nav {
  background-color: $darkblue;
  transition: background-color .5s, top .5s, right .6s;
  .brand {
    display: flex;
    align-items: center;
    img {
      height: 65px;
      margin-left: 10%;
    }
  }
  .burger {
    background-color: $darkblue;
    border: none;
    i {
      color: $white;
    }
  }
  .nav-items {
    background-color: $darkblue;
    transition: background-color .5s, top .5s, right .6s;
    ul .item {
      a {
        color: $white;
        font-family: $pfont;
      }
      &.active {
        a {
          color: $lightblue;
        }
      }
    }
    ul .close i {
      color: $white;
    }
  }
}

@media only screen and (min-width: 436px) {

}

@media only screen and (min-width: 620px) {

}

@media only screen and (min-width: 768px) {
  .nav {
    .brand {
      img {
        margin-left: 0%;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .nav {
    .nav-items {
      ul .item {
        a {
          font-size: 18px;
        }
      }
    }
  }
}
