@import "variables";
.content {
  .flightBg {
    background-image: url('../img/sky.jpg');
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
      color: $white;
      font-family: $pfont;
      text-align: center;
    }
    h2 {
      font-size: 30px;
      @extend h3;
    }
  }
}

.flight {
  .flightInfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    div {
      padding: 20px;
      flex-basis: 50%;
      .passengerSelect {
        display: flex;
        justify-content: space-around;
        width: 60px;
      }
      p , span {
        font-family: $pfont;
        font-size: 20px;
        i {
          margin-left: 5px;
        }
      }
      ul {
        list-style-type: none;
        position: absolute;
        li {
          font-family: $pfont;
        }
      }
    }
  }
}
