@import "variables";
.content {
  .flightBg {
    background-image: url('../img/sky.jpg');
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
      color: $white;
      font-family: $pfont;
      text-align: center;
    }
    h2 {
      font-size: 30px;
      @extend h3;
    }
  }
}

.flight {
  .flightInfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    div {
      transition: box-shadow .3s;
      cursor: pointer;
      .passengerSelect {
        justify-content: center;
        width: 60px;
        li {
          padding: 0px;
          i {
            color: $white;
            background-color: $medgray;
            border-radius: 3px 3px;
            padding: 5px;
            margin: 5px;
          }
        }
        &.activeDrop {
          display: flex;
        }
      }
      p {
        font-family: $pfont;
        font-size: 20px;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        i {
          color: $darkergray;
          transition: transform .5s;
        }
      }
      span {
        font-family: $pfont;
        font-size: 20px;
        margin-right: 5px;
      }
      ul {
        list-style-type: none;
        position: absolute;
        height: 0;
        display: flex;
        opacity: 0;
        overflow: hidden;
        transition: box-shadow .3s, opacity .3s;//, width .3s;
        background-color: white;
        padding: 5px;
        li {
          font-family: $pfont;
          padding: 10px 5px 10px 5px;
        }
      }
      &.activeDrop {
        box-shadow: 1px 1px 2px $darkgray;
        p {
          background-color: $white;
          i {
            transform: rotate(180deg);
          }
        }
        ul {
          height: auto;
          opacity: 1;
          box-shadow: 1px 1px 2px $darkgray;
          &.hiddenSelect {
            flex-direction: column;
          }
        }
      }
    }
  }
}
