//Store all the variables in this scss partial
$white: #efefef;
$darkgray: #757575;
$darkergray: #353535;
$medgray: #777777;
$darkblue: #0e1221;
$lightblue: #82b6e3;
$pfont: 'Source Sans Pro', sans-serif;;
$trans: rgba(17,23,43,0.56);
$black: #070910;
$sfont: 'Fjalla One', sans-serif;
$lightgray: #cecece;
$medblue: #427098;
$vlightgray: #f1f1f1;
